.container {
    display: grid;
    place-items: center;
}
a {
    text-decoration: none;
}

p.note>b {
    color: white;
}
.bikes {
    display: flex;
    /* Устанавливаем контейнер как flex-контейнер */
    justify-content: space-between;
    /* Распределяем элементы с равными отступами */
    width: 90vw;
    height: 82vh;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.bike {

    border: 1px solid black;
    /* Черная рамка вокруг каждого элемента */
    /*background-color: white;  Цвет фона для каждого элемента */
    margin: 5px;
    /* Отступ между элементами */
    box-sizing: border-box;
    /* Учитывает рамки и отступы в ширине и высоте */
}
* {
    margin: 0;
    padding: 0;
}
.bike-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.7;
    font-size: 48px;
    /* Размер шрифта */
    color: white;
    /* Цвет текста */
    text-shadow:
        2px 2px 0 black,
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black;
    /* Черный контур */
    text-align: center;
    /* Центрирование текста */
    height: 47%;
    margin: 5px;
    background-image: url('../index/горные.jpg');
    /* Путь к изображению */
    background-size: cover;
    /* Масштабирование изображения, чтобы заполнить контейнер */
    background-position: center;
    /* Центрирование изображения */
    background-repeat: no-repeat;
    /* Запрет повторения изображения */
}

.bike-2:hover,
.bike-1:hover,
.bike-3:hover,
.bike-4:hover,
.bike-5:hover {
    opacity: 1;
}

.bike-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.7;
    font-size: 48px;
    /* Размер шрифта */
    color: white;
    /* Цвет текста */
    text-shadow:
        2px 2px 0 black,
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black;
    /* Черный контур */
    text-align: center;
    /* Центрирование текста */
    height: 47%;
    margin: 5px;
    background-image: url('../index/детские.webp');
    /* Путь к изображению */
    background-size: cover;
    /* Масштабирование изображения, чтобы заполнить контейнер */
    background-position: center;
    /* Центрирование изображения */
    background-repeat: no-repeat;
    /* Запрет повторения изображения */
}

.bike-3 {
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    justify-content: center;
    font-size: 48px;
    /* Размер шрифта */
    color: white;
    /* Цвет текста */
    text-shadow:
        2px 2px 0 black,
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black;
    /* Черный контур */
    text-align: center;
    /* Центрирование текста */
    height: 95%;
    width: 35%;
    background-image: url('../index/все.jpg');
    /* Путь к изображению */
    background-size: cover;
    /* Масштабирование изображения, чтобы заполнить контейнер */
    background-position: center;
    /* Центрирование изображения */
    background-repeat: no-repeat;
    /* Запрет повторения изображения */
}

.bike-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0.7;
    font-size: 48px;
    /* Размер шрифта */
    color: white;
    /* Цвет текста */
    text-shadow:
        2px 2px 0 black,
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black;
    /* Черный контур */
    text-align: center;
    /* Центрирование текста */
    height: 47%;
    margin: 5px;
    background-image: url('../index/шоссейный.jpg');
    /* Путь к изображению */
    background-size: cover;
    /* Масштабирование изображения, чтобы заполнить контейнер */
    background-position: center;
    /* Центрирование изображения */
    background-repeat: no-repeat;
    /* Запрет повторения изображения */
}
div#paragraph1 p.note {
    color: white;
}
.bike-5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0.7;
    font-size: 48px;
    /* Размер шрифта */
    color: white;
    /* Цвет текста */
    text-shadow:
        2px 2px 0 black,
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black;
    /* Черный контур */
    text-align: center;
    /* Центрирование текста */
    height: 47%;
    margin: 5px;
    background-image: url('../index/гравийные.jpg');
    /* Путь к изображению */
    background-size: cover;
    /* Масштабирование изображения, чтобы заполнить контейнер */
    background-position: center;
    /* Центрирование изображения */
    background-repeat: no-repeat;
    /* Запрет повторения изображения */
}

.block1, .block2 {
    height: 100%;
    width: 30%;
}
a[href="contact.html"] {
    font-weight: bold;
}









